.CuisineRecipeList { 
    top: 0;
    left: 0;
    width: 100%;  
    display: flex;
    justify-content:left;
    align-items: center;
    margin-top: 10px;
 }

.CuisineRecipeList ul {
    list-style-type: none;
    columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.CuisineRecipeList li {
    float: left;
}