.FilterButtonsList { 
    top: 0;
    left: 0;
    width: 100%;  
    display: flex;
    justify-content:left;
    align-items:center;
 }

.FilterButtonsList ul {
    list-style-type: none;
}

.FilterButtonsList li {
    float: left;
    margin: 5px;
} 