.MenuItemsList { 
    top: 0;
    left: 0;
    width: 100%;  
    display: flex;
    justify-content:left;
    align-items:center;
 }

.MenuItemsList ul {
    list-style-type: none;
}

.MenuItemsList li {
    float: left;
}